<!-- <app-task1
  image="https://lh3.googleusercontent.com/NB3yk47eYP5qBjtrelhONpUWM9aRTj9req99aqx8Y3xFgUtDnGTkUwTKavLzpyjyHt_kTRVcm7NAM3ZM_GQer1AzUdRnf2X7s5ffasuOIGgyo5PH4sk4bRdllMhT69orssC1XILPoN0esuyPptBb780"
  name="Jithu"
></app-task1>
<app-task1
  image="https://lh3.googleusercontent.com/Ryg5ih-fOWbpEGDpbJYJz5RTq3_28Tvo2h3JQRCdiz16lw5ghitDMN6hcWA57g0d6_8VOqQYcCemRBOfZGQA64ZKkFOn71zuF1LDsXwCh4ywF-_z6VqxbBqmbQvK_-PWfZcztxDd1WDTEEUHX6GdP60"
  name="Aravind"
></app-task1>
<app-task1
  image="https://staticg.sportskeeda.com/editor/2022/07/aedcf-16570135965843.png?w=840"
  name="Prithvi"
></app-task1> -->
<!-- <app-dynamic-clr></app-dynamic-clr> -->
<!-- <section>
  <app-task2
    class="id1"
    image="https://assets.gadgets360cdn.com/pricee/assets/product/202210/Love-Today_1667220306.jpg"
    movieName="Love Today"
    movieDescription="Love Today is a 2022 Indian Tamil-language romantic comedy-drama film written and directed by Pradeep Ranganathan in his second directorial venture after Comali, and produced by Kalapathi S. Aghoram under the banner of AGS Entertainment. Archana Kalpathi is the creative producer for the film. The film stars Pradeep Ranganathan himself (in his acting debut) and Ivana (in her first lead role).  "
  ></app-task2>
  <app-task2
    class="id2"
    image="https://static.moviecrow.com/marquee/ok-kanmani-first-look-poster/55473_thumb_665.jpg"
    movieName="Ok Kanmani"
    movieDescription="O Kadhal Kanmani (transl.Oh love, apple of my eye), also known as OK Kanmani, is a 2015 Indian Tamil-language romantic drama film written, directed and produced by Mani Ratnam. The film stars Dulquer Salmaan and Nithya Menen, portraying a young couple in a live-in relationship in Mumbai. Prakash Raj and Leela Samson play supporting roles as an older couple in the film, portraying the younger couple's landlords. "
  ></app-task2>
  <app-task2
    class="id3"
    image="https://m.media-amazon.com/images/M/MV5BMTJjN2NhY2EtYzZkOC00NDQ0LWFhMzEtNWZhYTFhNzNhNjllXkEyXkFqcGdeQXVyMTUyNjIwMDEw._V1_.jpg"
    movieName="Good Night"
    movieDescription="Good Night is a 2023 Indian Tamil-language romantic comedy film written and directed by Vinayak Chandrasekaran in his directorial debut. The film stars Manikandan and Meetha Raghunath in the lead roles with Ramesh Thilak, Raichal Rabecca, Balaji Sakthivel and Bagavathi Perumal portraying supporting roles. The film revolves around Mohan, an IT youngster, with a snoring problem and the troubles when the problem affects his life."
  ></app-task2>
  <app-task2
    class="id4"
    image="https://pbs.twimg.com/media/FyRYj3haIAAkPkx.jpg:large"
    movieName="Por Thozhil"
    movieDescription="Por Thozhil (transl.The Art of War) is a 2023 Indian Tamil-language crime thriller film directed by Vignesh Raja, who co-wrote it with Alfred Prakash. The film stars R. Sarathkumar, Ashok Selvan and Nikhila Vimal. The title of the film is inspired by Subramania Bharati's poem, Puthiya Aathi Chuvadi. It received positive reviews and became a commercial success."
  ></app-task2>
</section> -->
<!-- <app-add-movie></app-add-movie> -->
<!-- <section class="container">
  <app-dry-code *ngFor="let nm of profiles" [profile]="nm"></app-dry-code>
</section> -->

<!-- <app-color-box></app-color-box> -->

<!-- <section><app-add-movie></app-add-movie></section> -->
<header>
  <nav>
    <mat-toolbar color="primary">
      <!-- <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/Add-movies">Add-Movies</a></li>
      <li><a routerLink="/login">Movies</a></li> -->
      <!-- <li><a routerLink="/movies">Movies</a></li> -->

      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/movie-list">Movies</button>
      <button mat-button routerLink="/movies/Add-movies">Add Movie</button>
    </mat-toolbar>
  </nav>
</header>
<router-outlet></router-outlet>
