div{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* transform: translateY(10rem); */
}
img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    object-fit: cover;
}