section{
    display: flex;
    flex-direction: column;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
@media(min-width:760px){
section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
}