<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<body>
  <section>
    <div class="image">
      <img src="{{ movie.poster }}" alt="Related movie poster" />
    </div>
    <div class="content">
      <div class="title">
        <h2>
          {{ movie.name
          }}<button
            class="click"
            (click)="lesssummary()"
            mat-icon-button
            color="primary"
            aria-label="Expand summary"
          >
            <mat-icon *ngIf="show">expand_less</mat-icon>
            <mat-icon *ngIf="!show">expand_more</mat-icon>
          </button>
          <button
            (click)="getdetails()"
            mat-icon-button
            color="primary"
            aria-label=""
          >
            <mat-icon>info</mat-icon>
          </button>
        </h2>
        <p>⭐{{ movie.rating }}</p>
      </div>
      <p *ngIf="show" class="description">{{ movie.summary }}</p>
    </div>
    <div class="like">
      <button
        (click)="increment()"
        mat-icon-raised-button
        color="primary"
        matBadge="{{ count }}"
        matBadgePosition="after"
        matBadgeColor="accent"
      >
        <mat-icon>thumb_up</mat-icon>
      </button>
      <button
        (click)="decrement()"
        mat-icon-raised-button
        color="primary"
        matBadge="{{ dcount }}"
        matBadgePosition="after"
        matBadgeColor="accent"
      >
        <mat-icon>thumb_down</mat-icon>
      </button>
      <button
        (click)="editmovie()"
        mat-icon-button
        color="primary"
        aria-label=""
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </section>
</body>
